<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tas Houttechniek</title>
    <!-- Libraries -->

    <!-- Libraries: JQuery -->
    @Html.Libraries().JQuery()
    @*@Scripts.Render("~/bundles/jquery")*@
    <!-- //Libraries: JQuery -->

    <!-- Libraries: Bootstrap -->
    @Html.Libraries().Bootstrap()
    @*@Styles.Render("~/Styles/bootstrap")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <!-- //Libraries: Bootstrap -->

    <!-- Libraries: Modernizr -->
    @Html.Libraries().Modernizr()
    @*@Scripts.Render("~/bundles/modernizr")*@
    <!-- //Libraries: Modernizr -->
    <!-- //Libraries -->

    <!-- Plugins -->
    <!-- Plugins: Select2 -->
    @Html.Plugins().Select2()
    @*@Html.Plugins().Select2()*@
    @*@Styles.Render("~/Styles/select2/css")*@
    <!-- //Plugins: Select2 -->

    <!-- Plugins: MomentJS -->
    @Html.Plugins().MomentJS()
    <!-- //Plugins: MomentJS -->    
    <!-- //Plugins -->

    <!-- Styles-->
    @Html.Style("~/Resources/Styles/Root.css")
    @Html.Style("~/Resources/Styles/normalize.css")
    @*@Html.Style("~/Resources/Styles/th.normalize.css")*@
    @Html.Style("~/Resources/Styles/Site.css")
    @Html.Style("~/Resources/Styles/th.ui.css")
    @Html.Style("~/Resources/Styles/th.cards.css")
    @Html.Style("~/Resources/Styles/th.tools.css")
    <!-- //Styles-->

    <!-- Scripts -->
    @*@Html.Script("~/resources/scripts/_main.js")*@
    @Html.Script("~/resources/scripts/th.feedback.js")
    @Html.Script("~/resources/scripts/th.js")
    @Html.Script("~/resources/scripts/th.ui.js")
    @Html.Script("~/resources/scripts/th.dialog.js")
    @Html.Script("~/resources/scripts/th.utils.js")
    @*@Html.Script("~/resources/scripts/th.ui.daterangepicker.js")*@
    <!-- //Scripts -->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TH Bestellingen", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("People", "Content", "People")</li>
                    <li>@Html.ActionLink("Orders", "Content", "Order")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <!-- Feedback -->
        <div class="ui-feedback_container"></div>
        <div class="ui-feedback_background"></div>
        <!-- //Feedback-->

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tas Houttechniek</p>
        </footer>
    </div>    
    @RenderSection("scripts", required: false)
</body>
</html>
