@using TH.Core.Tools.Form.Models
@using TH.Core.Modules.Order.Entities

@{ 
    //Form orderForm = (Form)ViewData["OrderForm"];
    Order order = (Order)ViewData["order"];
    int? id = (int?)ViewData["orderId"];
    bool createNewOrder = !id.HasValue && order == null;
}

@if (createNewOrder)
{
    <h1>Create new order</h1>

    <div id="order-container">
        <h2 id="order-name" data-hook="order-name"></h2>
        <h3 id="order-description" data-hook="order-description"></h3>
        <h4 id="order-data" data-hook="order-date"></h4>
    </div>
} else
{ 
    <h1>Update order</h1>
    <div id="order-container">
        <h2 data-hook="order-name">@order.ProjectName</h2>
        <h3 id="order-description" data-hook="order-description">@order.Description</h3>
        <h4 id="order-data" data-hook="order-date">@order.GetDate()</h4>
    </div>
}




<script type="text/javascript">
    $(document).ready(function () {

        // Urls
        var uCreateOrderForm = '@Url.Content("~/modules/order/create-order-form")';

        // Selectors
        var sOrderName = '[data-hook=order-name]';
        var sOrderDescription = '[data-hook=order-description]';
        var sOrderDate = '[data-hook=order-date]';

        // Vars
        var createNewOrder = @Html.Json(createNewOrder);

        if (createNewOrder) {
            RenderCreateNewOrder();
        }

        function RenderCreateNewOrder() {
            DialogSystem.open({
                ajax: {
                    url: uCreateOrderForm
                },
                dimension: { full: false, width: '50%', height: '50%' },
                callback: function (e, data) {
                    //debugger;
                    if (e.action === 'cancel') {
                        // Cancel creation
                        window.location.href = '/modules/order/content';
                    }
                    else {
                        debugger;
                        window.location.href = window.location.href + '?id=' + data.order.Id;
                        //UpdateDomFromOrder(data);
                    }
                }
            });
        }

        function UpdateDomFromOrder(data) {
            debugger;

            // Display order data
            if (data.next === 'order' && data.order !== null) {
                $(sOrderName).html(data.order.ProjectName);
                $(sOrderDescription).html(data.order.Description);
                $(sOrderDate).html(data.order.CreationDate);

                // Open new dialog
                // render create window ? door ? frame dialog
            }


            // if action === 'window' ? 'door' ? 'frame' ? ('child')
            // Show window ? door ? frame ? in page
            // Display button for adding / editing / duplicating 

            // if action === ''
        }
    });
</script>