@using TH.Core.Modules.Order.Entities;
@{ 
    Order order = (Order)ViewData["order"];
}

<h1>Order <span>details</span></h1>
<h3>Order Name: @order.ProjectName</h3>

<div>
    @if (order.OrderDatas == null || order.OrderDatas.Count < 1)
    {
        <div><span>No available data to display.</span></div>
    }
    else
    {
        foreach (OrderData data in order.OrderDatas)
        {
            <div class="card">
                <h2>Order @data.Id</h2>
                <div>
                    <h2>Frames</h2>
                    @if(data.Frame == null)
                    {
                        <p>No frames</p>
                    }
                    else
                    {
                        <p># Frames: @data.Frame.Id</p>
                    }
                </div>
                <div>
                    <h2>Doors</h2>
                    @if (data.Door == null)
                    {
                        <p>No doors</p>
                    }
                    else
                    {
                        <p># Doors: @data.Door.Id</p>
                    }
                </div>
                <div>
                    <h2>Windows</h2>
                    @if (data.Window == null)
                    {
                        <p>No windows</p>
                    }
                    else
                    {
                        <p># Windows: @data.Window.Id</p>
                    }
                </div>
            </div>
        }
    }
</div>