@using TH.Core.Modules.People.Entities;

@{ 
    List<People> peoples = (List<People>)ViewData["peoples"];
}

<h1>Peoples</h1>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in peoples)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.EmailAddress</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=person.Id}) |
                    @Html.ActionLink("Details", "Details", new { id=person.Id}) |
                    @Html.ActionLink("Delete", "Delete", new { id=person.Id}) 

                </td>
            </tr>
        }
    </tbody>
</table>
