@page "/Data/Window"

@using DataAccessLibrary.Controllers
@using DataAccessLibrary.Models

@inject IWindowOptionController _db

<h1>Windows</h1>


<h1>Window Options</h1>
@if (windowOptions is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <SfGrid DataSource="@windowOptions"></SfGrid>
}

<h1>Window Option</h1>
@if (windowOptions is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <span>
            @windowOption.Id
            @windowOption.Name
            @windowOption.Description
            @windowOption.BasePrice
        </span>
    </div>
    @*<SfGrid DataSource="@windowOption"></SfGrid>*@
}



@code {
    private List<WindowOptionModel> windowOptions;
    private WindowOptionModel windowOption;

    protected override async Task OnInitializedAsync()
    {
        windowOptions = await _db.GetWindowOptions();

        windowOption = await _db.GetWindowOption(1);
    }

}
